* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


/* CSS header */
.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav .logo {
    margin-left: 20px;
}

.main-nav .menu-nav {
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 30px;
}

.nav-pills {
    display: flex;
    list-style-type: none;
}

.nav-pills .nav-item {
    margin: 0 15px;
}

.main-nav .phone-number {
    margin-top: 4px;
    background-color: #000;
    border-radius: 5px;
}

.main-nav .phone-number a {
    color: #fff;
    text-align: center
}

.main-nav .phone-number a:hover {
    text-decoration: none;
}

.nav-tabs {
    display: flex;
    justify-content: right;
}

.nav-tab {
    margin: 0 20px;
    padding: 0 0 8px 0;
    font-size: 20px;
}

.nav-tab:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

/*----Begin header mobile--- */

.logo-mb {
    margin-left: -90px;
    margin-right: 6px !important;
}

.logo-mb img {
    width: 150px;
    height: 50px;
}

.menu-mb {
    margin-left: 40px;
    margin-right: -360px;
}

.list-menu-mb {
    margin-right: 46px;
}

.down-list {
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
    ;
}

/*-----End---- */

/* Nav list  */
.list_samsung {
    margin-top: 10px;
}

.list_samsung .content_list {
    display: flex;
    background-color: #f6f1f1;
    margin: 0 52px;
    border-radius: 12px;
}

.content_list .list_items {
    display: flex;
    margin: 5px 20px;

}

.list_items img:hover {
    cursor: pointer;
}

.text_list1 a {
    text-decoration: none;
    color: #000;
    font-weight: 650;
}

.text_list1 a:hover {
    color: #000;
    text-decoration: none;

}

.text_list2 p {
    font-size: 12px;
    line-height: 16px;
}

.text_list1:hover,
.text_list2:hover {
    cursor: context-menu;
}

.content_list {
    display: none !important;
}

.active {
    display: flex !important;
}

.carousel-indicators .active {

    background-color: #000 !important;
}

/*---- End header ---- */

/* Content */

.name-city {
    margin-top: 40px;
    margin-bottom: 40px;
}

.label-samcenter {
    margin-top: 8%;
}


.lists-address {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .lists-address {
        align-items: center;
        justify-content: center;
        width: 420px;
    }
    .label-samcenter{
        width: 412px;
    }

    .label-samcenter h2 {
        font-size: 42px;
    }
}

.lists-address img {
    width: 365px;
    height: 250px;
    margin: 6px;
    border-radius: 5px;

}

/* End Content */