      html,
      body {
          position: relative;
          height: 100%;
      }

      body {
          background: #eee;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
      }

      .swiper {
          width: 100%;
          height: 100%;
      }

      .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
      }

      .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      body {
          background: #000;
          color: #000;
      }

      .swiper {
          width: 100%;
          height: 300px;
          margin-left: auto;
          margin-right: auto;
      }

      .swiper-slide {
          background-size: cover;
          background-position: center;
      }

      .mySwiper2 {
          height: 80%;
          width: 100%;
      }

      .mySwiper {
          height: 20%;
          box-sizing: border-box;
          padding: 10px 0;
      }

      .mySwiper .swiper-slide {
          width: 25%;
          height: 100%;
          opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
          opacity: 1;
      }

      .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      /* Content */
      .content-infor {
        display: flex;
        margin: 5%;
      }

      .cost-product p {
        font-size: 16px;
      }

      .sale-product {
        display: flex;
      }

      .old-cost {
        text-decoration-line: line-through ;
        color: #ccc;
        margin-right: 8px;
      }

      .content-img {
        margin-left: 15%;
        width: 35%;
        height: 110%;
      }

      .btn-color {
        width: 34px;
        height: 34px;
        border-radius:  68px;
      }

      .btn-ram{
        font-size: 16px;
        width: 96px;
        height: 36px;
        border: solid;
        border-color: rgb(183, 178, 178);
        border-radius: 5px  ;
      }

      .number-ric {
        margin-top: 25%;
        width: 55px;
        height: 38px;
        font-size: 16px;
      }
      .add-cart {
        width: 251px ;
        height: 38px;
        font-size: 16px;
        background-color: #000;
        color: #fff;
      }

      .promotion {
        margin-top: 8%;
      }

      .gift-promotion{
        display: flex;
        color: red;
        font-size: 26px;
        line-height: 20px;
      }

      .item-one {
        display: flex;
        line-height: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .star-item {
        font-size: 18px;
        margin:4px;
      }

      .text-item {
        font-weight: 530;
      }

      .content-item p{
        font: 16px;
      }

      @media (max-width: 768px){
        .content-img {
            width: 50%;
            height: 50%;
            margin-left: 25%;
        }
      }


/* css combo box choose store  */
/*the container must be positioned relative:*/
.custom-select {
  font-size: 16px;
  position: relative;
  font-family: Arial;
  border: solid 1px #000;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Phần đánh giá, nhận xét, thông số kỹ thuật của sản phẩm */

.content-describe {
  margin-top: 8%;

}

.item-describe {
  display: flex;
  margin-top:5%;
  margin-bottom: 5%;
}

.text-item-describe {
  width: 60%;
  /* margin-left: 4%;; */
}

.img-item-describe img {
  width: 80%;
  /* margin-left: 4%;;
  margin-right: 4%; */
}

.society-nav {
  font-size: 18px;
  display: flex;
}

.comment-now {
  margin-left: 4%;
}

.item-society {
  margin-left: 4%;
}

.content-judge,
.more-parameter,
.input-comment {
  display: none;
  margin:4%;
}

.content-judge h3{
  margin: 4%;
  font-size: 20px !important; 
  font-weight:560;
}

.star-judge {
  display: flex;
  height: 20px;
  margin-top: -2%;
  
}

.star-judge p {
  font-size: 16px !important;
  margin-top: -0.4%;
  margin-left: 4%;
}

.stars {
  display: flex;
  list-style-type: none;
}

.stars i {
  color: #f0ad4e;
}

.comment-judge {
  font-size: 16px;
  margin-top: 2%;
  margin-left: 4%;
}
.table {
  font-size: 16px;
  /* margin-left: 4%; */
  margin-right: 4%;
}

.table th {
  text-align: center;
}
.table td {
  width: 80%;
}